@font-face {
    font-family: "Roboto";
    src: local('Roboto'), url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local('Roboto'), url("../fonts/Robotolight.woff2") format("woff2"),
    url("../fonts/Robotolight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: local('Cormorant'), url("../fonts/Cormorant-Bold.woff2") format("woff2"),
    url("../fonts/Cormorant-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima";
    src: local('Proxima'), url('../fonts/proximanova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}